@import "../../styles/variables";
@import "../../styles/mixins";

.icon-cards {
  background-color: $main-black-color;
  color: $main-white-color;

  &--inverse {
    color: $main-black-color;
    background-color: $main-white-color;
  }

  &__container {
    @include container;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    &--switched-order {
      padding: 20px;
      margin: 0 0 0 30px !important;
    }
  }

  &__subtitle {
    @include subtitle;
    margin: 0 0 10px 0;
  }

  &__title {
    @include title;
    margin: 0 0 20px 0;
  }

  &__description {
    line-height: 22px;
  }

  &__button {
    @include primary-button-black;

    &--inverse {
      @include primary-button-white;
    }
  }

  &__list {
    min-width: 550px;
    display: flex;
    align-items: center;
    gap: 20px;

    > div {
      width: 50%;
      display: flex;
      flex-direction: column;
      gap: 20px;
      height: 100%;

      &:first-of-type {
        margin-top: 50px;
      }

      &:last-of-type {
        margin-bottom: 50px;
      }
    }
  }
}
