$main-color: #3f82f4;
$main-white-color: #e8f2f2;
$main-white-color-opacity: #e8f2f29f;
$main-black-color: #292d33;
$main-black-color-opacity: #292d339f;
$primary-black-color: #555c66;
$primary-black-color-opacity: #555c667f;
$primary-white-color: #d4d4d4;
$primary-white-color-opacity: #d4d4d4a4;
$secondary-black-color: #3f3d48;
$secondary-white-color: #4f93f5;
